body {
    padding-top: 60px;
    padding-bottom: 70px;
}

/* Part 1 */
.btn-lg {
    margin: 50px 20px;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
}

.description {
    font-size: 16px;
    font-style: italic;
}

.img-member {
    width: 100px;
    height: 100px;
}

.media, .form-horizontal {
    margin-top: 50px;
}

/* 상단 메뉴의 브랜드 이름 위치를 center로 변경 */
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    display: inline-block;
    float: none;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1000;
}

#pie {
    width: 300px;
    height: 300px;
}

/* 하드웨어 가속 속성을 적용한 Carousel 스타일 */
@media all and (-webkit-transform-3d) {
    .carousel {

        .item {
            -webkit-transition: 0.6s ease-in-out -webkit-transform;
            -webkit-backface-visibility: hidden;
        }

        .active {
            -webkit-transform: translate(0%, 0%);
        }

        .next {
            -webkit-transform: translate(100%, 0%);
            left: 0;
        }

        .prev {
            -webkit-transform: translate(-100%, 0%);
            left: 0;
        }

        .next.left, .prev.right {
            -webkit-transform: translate(0%, 0%);
            left: 0;
        }

        .active.left {
            -webkit-transform: translate(-100%, 0%);
            left: 0;
        }

        .active.right {
            -webkit-transform: translate(100%, 0%);
            left: 0;
        }
    }

}