body {
    padding-top: 60px;
    padding-bottom: 70px;
}

/* Part 1 */
.btn-lg {
    margin: 50px 20px;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
}

.description {
    font-size: 16px;
    font-style: italic;
}

.img-member {
    width: 100px;
    height: 100px;
}

.media, .form-horizontal {
    margin-top: 50px;
}

/* 상단 메뉴의 브랜드 이름 위치를 center로 변경 */
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    display: inline-block;
    float:none;
}

#pie {
    width: 300px;
    height: 300px;
}