* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    padding-top: 70px;
    font-size: 12px;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

/*
iScroll5
*/
#wrapper {
    position: absolute;
    z-index: 1;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    position: relative;
}

#scroller li {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    padding: 0 10px;
    height: 72px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 16px;
}

/*
Custom
*/
.navbar {
    min-height: 38px;
}

.navbar-brand {
    padding: 9px 15px;
}

.btn-group-justified.navbar-fixed-bottom .btn {
    padding: 0px 15px;
}

.media, .media .media {
    margin-top: 0;
}

.media img {
    width: 72px;
    height: 72px;
}

.media-list {
    min-height: 600px;
}